[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/HandmadeMath"]
	path = ext/HandmadeMath
	url = https://github.com/HandmadeMath/HandmadeMath
[submodule "ext/model3d"]
	path = ext/model3d
	url = https://gitlab.com/bztsrc/model3d
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
